body {
    background-image: url("vertical-waves.png");
}

#topborder {
    border-bottom: 3px solid #dddddd;
    margin: 0 0 30px 0;
}

#menu {
    background-color: #ffffff;
    height: 60px;
    width: 100%;
    overflow: auto;
}

#daniel {
    background-color: #4aaaa5;
    color: #ffffff;
    font-family: 'Georgia', Times, Times New Roman, serif;
    height: 60px;
    width: 120px;
    text-align: center;
    line-height: 60px;
    display: inline-block;
    font-weight: bold;
    margin: 0 0 0 60px;
}

#links {
    color: #cccccc;
    font-family: 'Georgia', Times, Times New Roman, serif;
    line-height: 60px;
    display: inline-block;
    float: right;
    margin: 0 225px 0 0;
}

#content {
    background-color: #ffffff;
    width: 937px;
    /* ^ subtracting the padding of other elements from the total pixel width */
    margin: 0 0 20px 60px;
    padding: 10px;
    border-color: #dddddd;
    border-style: solid;
}

#picture {
    width: 300px;
    float: left;
    padding: 0 10px 0 0;
}

#footer {
    border-top: 3px solid #4aaaa5;
    background-color: #666666;
    color: #ffffff;
    width: 100%;
    height: 60px;
    text-align: center;
    float: left;
    vertical-align: text-bottom;    
}

h1 {
    color: #4aaaa5;
}


/* https://www.w3schools.com/css/css_align.asp */